# Config Server
PORT=7357
ALLOWED_ORIGINS=http://localhost:5173
JWT_SECRET=*
DEBUG=zombieland:*

# Environment
NODE_ENV=test

# Secret
SALT_ROUNDS=10

# Database Development
DATABASE_URL="postgresql://test:test@localhost:5437/zombieland_test"


